* {
  box-sizing: border-box;
  font-family: "Press Start 2P";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #2e2e2e;
}

body {
  position: relative;
}

@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
.titleScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("assets/images/portfolioBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 2vw;
  top: 0;
  left: 0;
}

.info {
  width: 100%;
  text-align: center;
}
.info__portrait {
  width: 20vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
}
.info__name {
  font-size: 3vw;
}

.menuOptions {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuOptions__btn {
  width: 30vw;
  padding: 0.5vw;
  margin: 0.7vw;
  font-size: 1vw;
}

.modalMain {
  padding: 0.8vw;
  max-height: 90%;
  background-color: #1a1a1a;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  display: none;
  opacity: 0;
  flex-direction: column;
  border: white 1px solid;
  z-index: 3;
}
.modalMain__backdrop {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
}
.modalMain__title {
  font-size: 1.7vw;
  text-align: center;
}
.modalMain__career {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  padding: 0.8vw 0.5vw;
  margin-bottom: 0.6vw;
}
.modalMain__career__title {
  text-align: center;
  font-size: 1vw;
}
.modalMain__career__text {
  font-size: 0.6vw;
  line-height: 1.5;
  align-self: center;
}
.modalMain__btn {
  width: 25%;
  padding: 0.5vw;
  font-size: 1vw;
  align-self: flex-end;
  background-color: #636363;
  border: solid white 2px;
}
.modalMain__btn:hover {
  background-color: #7d7d7d;
}
.modalMain__btn:active {
  background-color: #333333;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url("assets/images/portfolioBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.returnBtn {
  width: 4vw;
  aspect-ratio: 1/1;
  image-rendering: pixelated;
  background-image: url("assets/images/buttonNeutral.png");
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 2%;
  left: 1%;
  background-color: #fff;
  border-radius: 50%;
}
.returnBtn:hover {
  background-image: url("assets/images/buttonHover.png");
}
.returnBtn:active {
  background-image: url("assets/images/buttonClick.png");
}

/*  TEXTBOX  */
.buttonLast {
  width: 15%;
  height: 100%;
  font-size: 0.7vw;
}

.textbox {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
  font-size: 1vw;
  padding: 1.5vw;
  border: solid white 2px;
  line-height: 1.5;
  position: relative;
  overflow-wrap: break-word;
}
.textbox__Wrapper {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  display: flex;
}
.textbox__Next {
  width: 2%;
  aspect-ratio: 1/1;
  background-color: white;
  position: absolute;
  bottom: 5%;
  right: 2%;
  opacity: 0;
}

.buttonNext {
  width: 15%;
  height: 100%;
  font-size: 0.7vw;
}

/*  SPRITE  */
.sprite {
  image-rendering: pixelated;
  width: 30vmin;
  min-width: 10%;
  aspect-ratio: 48/83;
  position: absolute;
  bottom: 25%;
  right: 1%;
  background-image: url("assets/images/characterPortfolio.png");
  background-size: cover;
}
.sprite__glasses {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/characterGlasses.png");
  background-size: cover;
  position: absolute;
}
.sprite__eyes {
  width: 100%;
  height: 100%;
  background-size: 400%, 100%;
  background-image: url("assets/spritesheets/characterEyes.png");
  position: absolute;
}
.sprite__mouth {
  width: 100%;
  height: 100%;
  background-size: 400%, 100%;
  background-image: url("assets/spritesheets/characterMouth.png");
  position: absolute;
}

.swiperPortfolio {
  width: 60vw;
  max-width: 1500px;
  max-height: 65%;
  margin: 0 auto;
  margin-top: 3vh;
  aspect-ratio: 16/9;
  background-color: black;
  display: none;
  position: relative;
  overflow: hidden;
}
.swiperPortfolio__lastSlide {
  left: 2%;
  transform: translateY(-50%);
}
.swiperPortfolio__nextSlide {
  right: 2%;
  transform: scaleX(-100%) translateY(-50%);
}
.swiperPortfolio__button {
  width: 7%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url("assets/images/buttonNeutral.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  z-index: 2;
  image-rendering: pixelated;
}
.swiperPortfolio__button:hover {
  background-image: url("assets/images/buttonHover.png");
}
.swiperPortfolio__button:active {
  background-image: url("assets/images/buttonClick.png");
}
.swiperPortfolio__info {
  width: 10%;
  aspect-ratio: 3/1;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #424242;
  z-index: 2;
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 0 0;
}

#swiper-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

iframe {
  width: 100%;
  height: 100%;
}

.modal {
  padding: 1vw;
  background-color: #1a1a1a;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  display: none;
  opacity: 0;
  flex-direction: column;
  border: white 1px solid;
  z-index: 3;
}
.modal__backdrop {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: none;
}
.modal__title {
  font-size: 1.7vw;
  text-align: center;
}
.modal__role {
  font-size: 1.5vw;
  text-align: center;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  padding: 1vw 0;
  line-height: 1.5;
}
.modal__description {
  font-size: 0.8vw;
}
.modal__description__wrapper {
  padding: 0.5vw;
  line-height: 1.5;
}
.modal__list {
  list-style-type: none;
  padding: 0;
  margin: 0.2vw;
  margin-bottom: 0.4vw;
  border-bottom: white 2px solid;
}
.modal__list::before {
  content: attr(aria-label);
  font-size: 1vw;
}
.modal__list__element {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 0.8vw;
  font-size: 0.6vw;
  line-height: 1.5;
}
.modal__list__element:nth-child(1) {
  padding-top: 0.7vw;
}
.modal__btn {
  width: 25%;
  padding: 0.5vw;
  font-size: 1vw;
  align-self: flex-end;
}

.btnStyle {
  color: black;
  background-color: #636363;
  border: solid white 2px;
}
.btnStyle:hover {
  background-color: #7d7d7d;
}
.btnStyle:active {
  color: white;
  background-color: #333333;
}

.disabledBtn {
  display: none;
}

.portraitWarning {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #2e2e2e;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 4;
}
.portraitWarning__container {
  height: 25%;
  width: 100%;
  font-size: 2vh;
  padding: 3vh;
  color: white;
  line-height: 1.5;
}

@media only screen and (orientation: portrait) {
  .portraitWarning {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */